/* My CSS Style Sheet */

.jumbotron {
    background-image: url(../images/ombre_blue_bg.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }